body
{
	font-family: Verdana;
	margin: 0 auto;
}

#blokbanera
{
	background-color: #4682B4;
    color: white;
	padding: 20px;
	font-size: 120%;
	text-align: center;
}

#lewy
{
	background-color: #40E0D0;
	width: 40%;
    height: 700px;
	margin: 0 auto;
	float: left;
}

#prawy
{
	background-color: #40E0D0;
	width: 60%;
	height: 700px;
	float: left;
	margin: 0 auto;
}

#stopka
{
	clear: both;
	padding: 20px;
	font-size: 25px;
	background-color: #4682B4;
	color: white;
	text-align: center;
	height: 61px;
	margin: 0 auto;
}

.zdj
{
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	
	border-top-color: #000080;
	border-bottom-color: #000080;
	border-left-color: #000080;
	border-right-color: #000080;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
	border-width: 2px;
}
